TAUTH_CONFIG_FILE=/config/config.yaml
TAUTH_LISTEN_ADDR=:8082
TAUTH_GOOGLE_WEB_CLIENT_ID=212947889486-vr99ionvvoie1ke2ee8qelv34oglseoj.apps.googleusercontent.com
TAUTH_JWT_SIGNING_KEY=bG9jYWwtc2lnbmluZy1rZXktc2FtcGxlLXRlc3QtMTIzNDU2Nzg5MA==
TAUTH_DATABASE_URL=sqlite:///data/tauth.db
TAUTH_ENABLE_CORS=true
TAUTH_CORS_ORIGIN_1=http://localhost:8080
TAUTH_CORS_ORIGIN_2=http://127.0.0.1:8080
TAUTH_CORS_EXCEPTION_1=https://accounts.google.com
TAUTH_ALLOW_INSECURE_HTTP=true
TAUTH_TENANT_ID_1=demo