services:
  tauth:
    build:
      context: ../../
      dockerfile: Dockerfile
    image: tauth-local:latest
    env_file:
      - ./.env.tauth
    ports:
      - "8080:8080"
    volumes:
      - tauth_data:/data
    restart: unless-stopped

volumes:
  tauth_data:
