name: Go Tests

on:
  push:
    branches:
      - master
    paths:
      - "**/*.go"
      - "go.mod"
      - "go.sum"
  pull_request:
    branches:
      - master
    paths:
      - "**/*.go"
      - "go.mod"
      - "go.sum"

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 1

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
          check-latest: true
          cache: true

      - name: Verify formatting
        run: |
          go fmt ./...
          git status --short
          git diff --exit-code

      - name: Run go vet
        run: go vet ./...

      - name: Run Tests
        run: go test ./...
